/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

@import '../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css';


.sideKalendar {
  width: 225px;
}

.sideKalendar .float-left {
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.sideKalendar .float-right .material-icons {
  font-size: 14px;
}

.sideKalendar .card-header {
  padding: 5px 10px;
}

.sideKalendar .card-body {
  padding: 5px;
}

.sideKalendar .weekday-head {
  font-size: 10px;
  margin: 5px 10.25px;
}

.sideKalendar .weekday {
  font-size: 10px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin: 0px 3.25px;
  float: left;
  transition: background-color 100ms linear;
}

.sidebar {
  width: 300px;
}

.full-container {
  width: calc(100% - 300px);
}

.in-month {
  font-weight: 500;
}

.current {
  background-color: #1a73e8;
  color: #fff;
  border-radius: 50%;
}