<div class="container-fluid">
  <div class="row no-gutters">
    <div class="sidebar">
      <%= live_component @socket, SideKalendar, id: :side_kalendar, kalendar: @kalendar %>
    </div>
    <div class="full-container">
      2 of 3 (wider)
    </div>
  </div>
</div>
